<div class="container-fluid text-center">
    <header class="justify-content-center align-items-center search-bar"></header>
    <div class="tabs list-unstyled row-flex m-0">
        <label class="tabs__item tabs__item--active col-flex m-0" for="search-result">List</label>
        <label class="tabs__item col-flex m-0" for="cart">Cart</label>
    </div>
    <input type="radio" id="search-result" name="tab" value="search" checked="checked" />
    <input type="radio" id="cart" name="tab" value="tab" />
    <div class="js-search-result song-list"></div>
    <div class="js-cart song-list song-list--cart"></div>
</div>
